{% extends 'chat/main.html' %}
{% block content %}
<div class="header-bar">
  <h2><i>Chatapp</i></h2>
</div>

<div class="card-body">
  <div class="field">
    <label>Room name</label>
    
    <div class="control">
      <input class="input" type="text" placeholder="Room name" id="room-name-input">
    </div>
  </div>

  <div class="field">
    <label>Username</label>

    <div class="control">
      <input class="input" type="text" placeholder="Username" id="username-input">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button style="margin-top: 15px;" class="button" id="room-name-submit">Submit</button>
    </div>
  </div>
</div>


<script>
  // Automatically set the focus to the room name input
  document.querySelector('#room-name-input').focus();

  // If you hit "enter" on the keyboard, trigger the click method
  document.querySelector('#room-name-input').onkeyup = function(e) {
    if (e.keyCode === 13) {
      document.querySelector('#room-name-submit').click();
    }
  };

  // When you submit the form, redirect the user to the room page
  document.querySelector('#room-name-submit').onclick = function(e) {
    var roomName = document.querySelector('#room-name-input').value;
    var userName = document.querySelector('#username-input').value;

    window.location.replace(roomName + '/?username=' + userName);
  };
</script>
{% endblock content %}